<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <%= name %>
                <%= cost %>
            </div>
            <div class="panel-body">
                <%= description %>
            </div>
        </div>
    </div>
</div>