<div class="navbar-wrapper">
	<div class="container-fluid">
		<div class = "navbar navbar-default navbar-static-top">
			<div class = "container-fluid">
				<a href = "index.html" div class = "navbar-brand">BUY NOW!!!!</a>
				<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
					<span class = "icon-bar"></span>
					<span class = "icon-bar"></span>
					<span class = "icon-bar"></span>
				</button>
				<div class = "collapse navbar-collapse navHeaderCollapse">
					<ul class = "nav navbar-nav navbar-right">
						<li><a href = "/">Home</a></li>
						<li><a href = "/register">Register</a></li>
						<li><a href = "#" id="login">Login</a></li>
						<li><a href = "/aboutus">About Us</a></li>
						<li><a href = "/display">Gallery</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
