<!DOCTYPE html>
<html>
<% include partials/header %>
<body>
    <% include partials/navbar %>
    <% include partials/carosouel %>

	<div class="form-group col-md-4 col-md-offset-4">
	<label for="usr">Search:</label>
		<input type="text" class="form-control" id="search-query" rows="5" placeholder="Search">
		<input id="submit" name="submit" type="submit" value="submit" class="btn">
	</div>

	<div class="container">
		<div class="col-sm-4">
			<a href="/men"><h2>Men</h2></a>
				<ol>
					<li><a href = "/men/casual_shirts">Casual Shirts</a></li>
					<li><a href = "/men/jeans">Jeans</a></li>
					<li><a href = "/men/t_shirts">T-Shirts</a></li>
					<li><a href = "/men/footwear">Footwear</a></li>
					<li><a href = "/men/shorts">Shorts</a></li>
					<li><a href = "/men/watches">Watches</a></li>
				</ol>
		</div>
		<div class="col-sm-4">
			<a href="/women"><h2>Women</h2></a>
				<ol>
					<li><a href = "/women/dresses">Dresses</a></li>
					<li><a href = "/women/churidar_suits">Churidar Suits</a></li>
					<li><a href = "/women/kurtas">Kurtas</a></li>
					<li><a href = "/women/sandals">Sandals</a></li>
					<li><a href = "/women/office_wear">Office Wear</a></li>
					<li><a href = "/women/artificial_jewellery">Artificial Jewellery</a></li>
				</ol>
		</div>
		<div class="col-sm-4">
			<a href="/kids"><h2>Kids</h2></a>
				<ol>
					<li><a href = "/kids/baby_apparel">Baby Apparel</a></li>
					<li><a href = "/kids/girls_apparel">Girls Apparel</a></li>
					<li><a href = "/kids/boys_apparel">Boys Apparel</a></li>
					<li><a href = "/kids/kids_toys">Kids Toys</a></li>
				</ol>
		</div>
	</div>
</body>
</html>
