<p>
Username: <%= user.name %><br/>
<script type ="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
	$(document).ready(function(){

	var x = $("#user").html();
	alert(x.name);

	});

var x = $("#user").html();
	alert(x.name);


var g = <%= user.name %>; console.log(g);



</script>

</p>