<html>
    <head>
        <% include partials/header %>
    </head>
        <body>
        <% include partials/navbar %>
        <script>
            var res = <%= results %>;

        </script>
        <% console.log('[Profile]Results returned from server: ' + results); %>
        <% if(results.length < 1){%>
            NOTHING HERE
        <% }else if(results.length > 1){%>
            <div class="row flex-row">
                <% results.forEach(function(item) { %>
                    <% console.log('[Profile]Each object in Results: ' + item); %>
                    <% var jsonItem = JSON.parse(item)%>
                    <% include partials/item_card %>
                <% }); %>
            </div>
        <%}else{%>
            <% jsonItem = JSON.parse(results[0])%>
            <% include partials/single_item_card %>
        <%}%>
    </body>
</html>

