<!DOCTYPE html>
<html>
<head>
	<% include partials/header%>
	<script src="dist/js/register.js"></script>
</head>
	<body>
		<% include partials/navbar.ejs %>

		<div class="form-group col-md-4 col-md-offset-4">
			<label for="usr">Register:</label>
			<input type="text" class="form-control" id="registerUsername" rows="5" placeholder="Username">
			<input type="text" class="form-control" id="registerPassword" rows="5" placeholder="Password">
			<input type="text" class="form-control" id="registerConfirmPassword" rows="5" placeholder="Confirm Password">
			<input id="submit" name="submit" type="submit" value="submit" class="btn">
		</div>

		<form action="/newUser" method="post">
            <div class="form-group col-sm-4 col-sm-offset-4">
                <label>Username</label>
                <input type="text" class="form-control" id="username" rows="5" name="Username">
            </div>
            <div class="form-group col-sm-4 col-sm-offset-4">
                <label>Password</label>
				<input type="password" class="form-control" id="password" rows="5" placeholder="Password">
                <input type="password" class="form-control" id="registerConfirmPassword" rows="5" placeholder="Confirm Password">
            </div>
            <button type="submit" class="btn col-sm-1 col-sm-offset-4">Submit</button>
        </form>

	</body>
</html>


