<!DOCTYPE html>
<html>
	<% include partials/header%>
	<body>
		<% include partials/navbar.ejs %>
		<div class="form-group col-md-4 col-md-offset-4">
			<label for="usr">Register:</label>
			<input type="text" class="form-control" id="register-query" rows="5" placeholder="Title">
			<input type="text" class="form-control" id="register-query" rows="5" placeholder="First Name">
			<input type="text" class="form-control" id="register-query" rows="5" placeholder="Last Name">
			<input type="text" class="form-control" id="register-query" rows="5" placeholder="Gender">
			<input type="text" class="form-control" id="register-query" rows="5" placeholder="Email">
			<input type="text" class="form-control" id="register-query" rows="5" placeholder="Password">
			<input type="text" class="form-control" id="register-query" rows="5" placeholder="Phone Number">
			<input type="text" class="form-control" id="register-query" rows="5" placeholder="Address">
			<input type="text" class="form-control" id="register-query" rows="5" placeholder="City">
			<input type="text" class="form-control" id="register-query" rows="5" placeholder="Country">
			<input type="text" class="form-control" id="register-query" rows="5" placeholder="Date of birth">
			<input id="submit" name="submit" type="submit" value="submit" class="btn">
		</div>
	</body>
</html>


